[submodule "jetson_ros_melodic"]
	path = jetson_ros_melodic
	url = https://github.com/katebrighteyes/jetson_ros_melodic.git
[submodule "ros-seminar"]
	path = ros-seminar
	url = https://github.com/katebrighteyes/ros-seminar.git
[submodule "ros_programming"]
	path = ros_programming
	url = https://github.com/katebrighteyes/ros_programming.git
